<nz-layout class="layout">

    <nz-sider class = "left-sider" nzWidth="400px" nzTheme="light" >
     <app-real-time-param></app-real-time-param>
    </nz-sider>

    <nz-content>
      <div class = "inner-content">
        ...
        <br />
        Really
        <br />...<br />...<br />...<br />
        long
        <br />...<br />...<br />...<br />...<br />...<br />... <br />...<br />...<br />...<br />...<br />...<br />...
        content
      </div>
    </nz-content>

    <nz-sider class = "right-sider" nzWidth="400px" nzTheme="light" >
      <!--特性参数监测区-->
      <app-param-monitor></app-param-monitor>
      <!--故障诊断结果区-->
      <app-diagnostic-results></app-diagnostic-results>
      <!--决策支持区-->
      <app-decission-support></app-decission-support>
    </nz-sider>

</nz-layout>
