nz-sider
{
  /*设置上右下左的外边距*/
  margin: 0 0 0 0;
  /*设置上右下左的填充距离*/
  padding:0 0 0 0;
}
h2
{
  margin-top: 4px;
  text-align: center;
}
img
{
  width: 95%;
  height: 92%;
  margin: auto;
  /*上、右、下、左*/
  padding: 0 0 0 50px;
}
