.left-1{
  width:400px;
  height:600px;
  background: #2b2b2c;
  float:left;
}
.left-2{
  position: absolute;
  width:300px;
  margin-top: 600px;
  margin-left: 0;
  float:left;
  background: #EAF2D3;
}
.right-1{
  width:200px;
  height:600px;
  background: #fafafa;
  float:left;
}
.right-2{
  position: absolute;
  width:300px;
  margin-top: 600px;
  margin-left: 300px;
}
.main{
  margin-left: 600px;
  width:100%;
}
h2{
  margin: auto;
}

img{
  background-color: white;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
