#rectangle-1 {
  width: 140px;
  height: 140px;
  background: #fd9b35;
  margin-left: 30px;
  margin-right: 30px;
}

#rectangle-2 {
  width: 140px;
  height: 140px;
  background: #fd5954;
  margin-left: 30px;
  margin-right: 30px;
}

#rectangle-3 {
  width: 140px;
  height: 140px;
  background: #33c933;
  margin-left: 30px;
  margin-right: 30px;
}

#rectangle-4 {
  width: 140px;
  height: 140px;
  background: #2323ba;
  margin-left: 30px;
  margin-right: 30px;
}
