<nz-space nzDirection="vertical">

  <nz-space-item>
    <div id="rectangle-1">
      <div class="circle">
        <p>功率</p>
      </div>
    </div>
  </nz-space-item>

  <nz-space-item>
    <div id="rectangle-2">
      <div class="circle">
        <p>速度</p>
      </div>
    </div>
  </nz-space-item>

  <nz-space-item>
    <div id="rectangle-3">
      <div class="circle">
        <p>转速</p>
      </div>
    </div>
  </nz-space-item>

  <nz-space-item>
    <div id="rectangle-4">
      <div class="circle">
        <p>扬程</p>
      </div>
    </div>
  </nz-space-item>

</nz-space>

