/*设置四个方框统一的样式*/
#rectangle-1, #rectangle-2, #rectangle-3, #rectangle-4 {
  width: 142px;
  height: 142px;
  margin-left: 29px;
  margin-right: 29px;
  display: flex;
}

/*设置空心圆的样式*/
.circle{
  margin: auto;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  align-self: center;
}

#rectangle-1{
  background: rgb(255,156,52);
}

#rectangle-2 {
  background: rgb(255,90,84);
}

#rectangle-3 {
  background: rgb(51,181,243);
}

#rectangle-4 {
  background: rgb(154,184,52);
}

p{
  text-align: center;
  color: #ffffff;
  font-size:30px;
}
