<ng-template #loginBtn>
  <a nz-button nzType="primary" routerLink="/account/login">{{
    'AbpAccount::Login' | abpLocalization
    }}</a>
</ng-template>

<a
  nz-dropdown [nzDropdownMenu]="menu"
  *ngIf="(currentUser$ | async)?.isAuthenticated; else loginBtn"
>
  {{ (currentUser$ | async)?.userName }}
  <i nz-icon nzType="down"></i>
</a>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item>
      <a routerLink="/account/manage-profile">
        <i nz-icon nzType="profile"></i>
        <!-- TODO 后端修改翻译 -->
        {{ 'AbpAccount::ManageYourProfile' | abpLocalization }}
      </a>
    </li>
    <li nz-menu-item>
      <a href="javascript:void(0)" (click)="logout()">
        <i nz-icon nzType="logout"></i>
        {{ 'AbpUi::Logout' | abpLocalization }}
      </a>
    </li>
  </ul>
</nz-dropdown-menu>
