<!--进入系统主界面-->
<nz-card style="text-align: center">

  <h1 nz-typography>{{ '::Welcome' | abpLocalization }}</h1>
  <nz-space nzDirection="vertical">
    <nz-space-item>
      <h4 nz-typography>{{ '::LongWelcomeMessage' | abpLocalization }}</h4>
    </nz-space-item>

    <nz-space-item>
      <nz-space nzDirection="horizontal">
        <!--点击进入ANDRITZ故障诊断系统主界面-->
        <nz-space-item>
          <a
            nz-button
            nzType="primary"
            nzSize="large"
            href="http://localhost:4200/welcome"
            target="_blank">
            ANDRITZ
          </a>
        </nz-space-item>
        <!--点击进入KSB故障诊断系统主界面-->
        <nz-space-item>
          <a
            nz-button
            nzType="primary"
            nzSize="large"
            href="http://localhost:4200/welcome"
            target="_blank">
            KSB
          </a>
        </nz-space-item>
        <!--点击进入系统登录主界面-->
        <nz-space-item>
          <a
            nz-button
            nzType="primary"
            nzSize="large"
            routerLink="/account/login"
            *ngIf="!hasLoggedIn"
            [state]="{ redirectUrl: '/' }"
          >
            <i class="fa fa-sign-in"></i>
            {{ 'AbpAccount::Login' | abpLocalization }}
          </a>
        </nz-space-item>

      </nz-space>

    </nz-space-item>
  </nz-space>

</nz-card>
