<ul nz-menu nzMode="horizontal">
  <ng-container
    *ngFor="let route of visibleRoutes$ | async; trackBy: trackByFn"
    [ngTemplateOutlet]="route?.children?.length ? topRoute : baseRoute"
    [ngTemplateOutletContext]="{ $implicit: route }"
  >
  </ng-container>

  <!-- 没有子路由的 item 的模板 -->
  <ng-template #baseRoute let-route>
    <li nz-menu-item
        *abpPermission="route.requiredPolicy"
    >
      <!--使用 *ngIf 来根据条件包含或排除一段 HTML-->
      <a [routerLink]="route.url">
        <i nz-icon *ngIf="route.iconClass" [nzType]="route.iconClass"></i>
        {{ route.name | abpLocalization }}
      </a>
    </li>
  </ng-template>

  <!-- 包含子路由的 item 的模板 -->
  <ng-template #topRoute let-route>
    <li
      nz-submenu
      *abpPermission="route.requiredPolicy"
      nzTitle=" {{route.name | abpLocalization}} "
      [nzIcon]="route.iconClass"
      [abpVisibility]="routeContainer"
    >
      <div #routeContainer>
        <ng-template
          ngFor
          [ngForOf]="route.children"
          [ngForTrackBy]="trackByFn"
          [ngForTemplate]="childWrapper"
        ></ng-template>
      </div>
    </li>
  </ng-template>

  <!-- 判断子路由是否还有子路由，有则使用 nz-menu-group 分组，否则调用 baseRoute 模板-->
  <ng-template #childWrapper let-route>
    <ng-template
      [ngTemplateOutlet]="route?.children?.length ? groupRoute : baseRoute"
      [ngTemplateOutletContext]="{ $implicit: route }"
    ></ng-template>
  </ng-template>

  <!-- nz-menu-group 分组-->
  <ng-template #groupRoute let-route>
    <li
      nz-menu-group
      *abpPermission="route.requiredPolicy"
      [nzTitle]="route.name | abpLocalization"
      [abpVisibility]="childrenContainer"
    >
      <ul #childrenContainer>
        <ng-template
          ngFor
          [ngForOf]="route.children"
          [ngForTrackBy]="trackByFn"
          [ngForTemplate]="childWrapper"
        ></ng-template>
      </ul>
    </li>
  </ng-template>
</ul>
