<!-- TODO: 路由不应该硬编码在代码里，参见 2.9 的代码 -->
<ul class="navbar-nav">

  <!-- 首页 -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/">
      <i class="fas fa-home"></i> 首页
    </a>
  </li>

  <!-- 管理 -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="javascript:void(0)">
      <i class="fas fa-wrench"></i> 管理
    </a>

    <!-- 下拉菜单容器 -->
    <div
      class="dropdown-menu border-0 shadow-sm"
      (click)="$event.preventDefault(); $event.stopPropagation()"
      [class.d-block]="smallScreen"
    >

      <!-- 角色管理菜单 -->
      <div
        class="dropdown-submenu border-0 shadow-sm"
        [class.d-block]="smallScreen"
        *abpPermission="'AbpIdentity.Roles'"
      >
        <a class="dropdown-item" routerLink="/identity/roles">
          <i class="fas fa-id-card"></i> 角色管理
        </a>
      </div>

      <!-- 用户管理菜单 -->
      <div
        class="dropdown-submenu border-0 shadow-sm"
        [class.d-block]="smallScreen"
        *abpPermission="'AbpIdentity.Users'"
      >
        <a class="dropdown-item" routerLink="/identity/users">
          <i class="fas fa-users"></i>  用户管理
        </a>
      </div>
    </div>
  </li>
</ul>
